header {
  background-image: url('images/movie1.jpg'), url('images/movie2.jpg'), url('images/movie3.jpg'), url('images/movie4.jpg'), url('images/movie5.jpg');
  background-size: cover;
  background-position: top left, top center, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /* Rögzíti a háttérképet görgetésnél */
}

header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

header p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}